*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Roboto', sans-serif;

}

html,
body,
#root,
.App{
  height: 100%;
}


.homepage{
  padding-left:140px;
  padding-right:120px;
  height:100%;
}




