footer{
    width: 100%;
    height: 234px;
    display: flex;
    align-items: center;
    padding-left: 140px;
    padding-right: 120px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
    justify-content: space-between;
     
    .navigation{
        width: 384px;
        height: 148px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h3{
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 10px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            
            justify-content: space-between;
           
            li{
                
                display: flex;
                width: 30%;
                margin-bottom: 7px;
                a{
                    font-size: 14px;
                    cursor: pointer;
                    text-decoration: none;
                    color: #414141;
                }
            }
        }
        .akt-and-new{
            display: flex;
            a{
                cursor: pointer;
                margin-right: 30px;
                text-decoration: none;
                &:first-child{
                    color: #D74444;
                }
            }
        }
    }
    .contact-section{
        
        width: 480px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        .footer-logo{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;
        }
        .address{
            text-align: right;
            font-size: 14px;
            width: 171px;
            height: 54px;
        }
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                display: flex;
                margin-right: 30px;
                justify-content: flex-end;
                &:last-child{
                    margin-right: 0;
                }
                img{
                    margin-right: 10px;
                }
                span{
                    color: #414141;
                    font-size: 14px;
                }
            }
        }
    }
}