.header{
    height: 38px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 120px;
    .nav{
        display: flex;
        align-items: center;
        li{
            list-style: none;
            margin-right: 30px;
            a{
                font-size: 14px;
                color: white;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    .number{
        display: flex;
        align-items: center;
        color: white;
        img{
            margin-right: 10px;
        }
        p{
            font-size: 14px;
        }
    }
}